body {
  box-sizing: border-box;
  width: 100%;

  padding: 0px;
  margin: 0px;
  background: rgb(255, 255, 255);
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 1) 77%, rgba(188, 204, 205, 1) 87%, rgba(176, 235, 237, 1) 97%); */
}